@use "sass:color";
@use "../../../styles/vars.scss" as *;

.user {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding: 1rem 1.5rem;
	cursor: pointer;
	background-color: $color-content;
	transition: background-color 0.2s ease-in-out;
	border-bottom: 1px solid color.adjust($color-content, $lightness: 5%);

	&.active {
		background-color: color.adjust($color-content, $lightness: 8%);
	}

	.row {
		display: flex;
		justify-content: space-between;

		img {
			width: 50px;
			height: 50px;
			border-radius: 50%;
			object-fit: cover;
			margin-right: 1rem;
		}

		.col {
			display: flex;
			flex-direction: column;
			gap: 5px;

			.name {
				font-size: 16px;
				font-weight: 600;
				color: $color-text-primary;
			}

			.status {
				font-size: 14px;
				color: $color-text-secondary;

				&.online {
					color: $color-accent;
				}
			}
		}
	}

	.lastActivity {
		font-size: 14px;
		color: $color-text-secondary;
	}
}

.settingsMenu {
	z-index: 2;
	position: absolute;
	display: flex;
	flex-direction: column;
	top: calc(100% + 10px);
	right: 0;
	background-color: $color-surface;
	border-radius: $radius-primary;
	padding: 0rem; 
	width: 200px;
	opacity: 0;
	visibility: hidden;
	transform: scale(0.95);
	transition: opacity 0.2s, transform 0.2s;

	&.open {
		opacity: 1;
		visibility: visible;
		transform: scale(1);
	}
}

.settingsItem {
	display: flex;
	align-items: center;
	gap: 1rem;
	padding: 0.5rem 1rem;
	white-space: nowrap;
	flex-shrink: 0;
	cursor: pointer;
	transition: .2s ease-in-out;
	color: $color-text-primary;

	&:hover { 
		background-color: color.adjust($color-content, $lightness: 15%);
	}

	&:first-child {
		border-top-left-radius: $radius-primary;
		border-top-right-radius: $radius-primary;
		padding-top: 1rem;
	}

	&:last-child {
		border-bottom-left-radius: $radius-primary;
		border-bottom-right-radius: $radius-primary;
		padding-bottom: 1rem;
		color: $color-red;
	}

	> svg {
		flex-shrink: 0;
		width: 20px;
		height: 20px;
	}
}